Brlapi==0.6.5
certifi==2019.6.16
chardet==3.0.4
cupshelpers==1.0
gestures==0.2.2
h5py==2.10.0
idna==2.8
kaggle==1.5.5
louis==3.0.0
Mako==1.0.6
MarkupSafe==0.23
numpy==1.18.5
pycups==1.9.73
pycurl==7.43.0
pygobject==3.22.0
pysmbc==1.0.15.6
python-apt==1.4.1
python-slugify==3.0.3
python-xlib==0.14
pyxdg==0.25
requests==2.22.0
setproctitle==1.1.10
six==1.10.0
text-unidecode==1.2
tqdm==4.34.0
unattended-upgrades==0.1
urllib3==1.24.3
