.adv-search {
  width: 65%;
  margin-bottom: 30px;

  .adv-search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;

    .adv-search-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .adv-search-input {
      flex: 1 0 auto;
      padding-right: 30px;
    }

    .adv-search-icon {
      padding-top: 20px;
      padding-right: 10px;
    }

    .year {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: 1;
    }

    .year-input {
      flex: 1 1 auto;
    }

    p {
      color: white;
    }
  }
}

