.search-form {
  display: flex;
  align-items: row;
  justify-content: space-between;
  margin-bottom: 20px;

  .search-input {
    width: 65%;
  }

  .search-button {
    width: 10%;
  }

  .advanced-search-button {
    width: 20%;
    color: white;
  }
}

.error-container {
  color: red;
}

.examples {
  h6, span {
   color: white;
  }

  a {
    cursor: pointer;
  }
}
