.search-container {
  display: flex;
  align-items: row;
  justify-content: space-between;

  .search-input {
    width: 83%;
  }

  .search-button {
    width: 15%;
  }

  .error-container {
    color: red;
  }

  h6 {
   color: white;
  }

  a {
    cursor: pointer;
  }
}
